/* CSS RESET */

*{
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* HEADER */

.heading{
    display: inline;
}

.title{
    font-size: 40px;
    vertical-align: top;
}

img{
    padding-left: 10px;
}
