/* CSS RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* BODY */

body{
    background-color: #F6F8F9;
}

/* HEADER */

.heading{
    background-color: #ffffff;
}

.title {
    font-size: 50px;
    vertical-align: top;
}

img{
    padding-left: 10px;
}

/* MAIN */

.main-background {
    background-color: #F6F8F9;
}

.first-container {
    background-color: rgb(255, 255, 255);
    margin-top: 50px;
    margin-left: 170px;
    padding: 20px;
    display: inline-block;
    width: 1000px;
}

.first-span {
    background-color: #47ADF1;
    margin-left: 10%;
}

.second-span{
    background-color: rgb(255, 255, 255);
}